

.tool{
    display: flex;
    justify-content: space-between;


}
.typo{
    font-weight: 900;

}

.type{
    font-weight: 900;

}
.box{
    display: flex;
    gap: 15px;
}
.form{
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
    box-shadow: 10px 10px 5px #d8d8eb;
    height: 500px;
    background: rgba(27, 23, 107, 0.363);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}
ul{
    display: flex;
    gap:30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.cards{
    padding: 10px;
    height: 400px;
    width: 250px;
    box-shadow: 5px 5px 10px rgb(226, 197, 92);
}
img{
    width: 250px;
}